<div class="sidebar_unit">
        <div class="unit_container">
            <div class="aside_title"><i class="icon_sprite icon_categories"></i><em><%= __('categories') %></em><span>Categories</span></div>
              <!-- <ul class="category_list clearfix">  -->
               
                  <%- list_categories({show_count: theme.show_count}) %>
              <!-- </ul> -->
          </div>
</div>